<div class="info-section">
    <h2>File Information</h2>
    <h3>Author: Paweł Schab (2024)</h3>
    {{#if info}}
    <div class="info-content">
        {{#each info}}
        <div class="info-item"><span class="info-label">{{@key}}:</span> {{this}}</div>
        {{/each}}
    </div>
    {{/if}}
</div>