<div id="upload-section">
    <div id="side">multiupload</div>
    <div class="upload-right">
        <form enctype="multipart/form-data" method="POST" action="/" id="upload-form">
            <label class="file-upload">
                <input type="file" required multiple accept="image/*" name="imagetoupload">
                <span>Select file (s) to upload</span></br>
                <button type="submit" class="upload-button">Upload</button>
            </label>
        </form>
    </div>
</div>