<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        div {
            background-color: lightgray;
            padding: 10px;
            text-align: center;
            border-radius: 8px;
            color: white;
        }

        .stare {
            background-color: black;
        }

        .nowe {
            background-color: blue;
        }

        img {
            width: 200px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-for="samochod in samochody" :key="samochod.id" :class="Old(samochod)">
            <h3>{{ GetDiv(samochod) }}</h3>
            <img :src="img(samochod)">
        </div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    samochody: [
                        { id: 1, model: 'BMW 3', typ: 'Sedan', rok: 1995 },
                        { id: 2, model: 'Audi A4', typ: 'Hatchback', rok: 2005 },
                        { id: 3, model: 'Volkswagen Golf', typ: 'Hatchback', rok: 2015 },
                        { id: 4, model: 'Ford Mustang', typ: 'Coupe', rok: 1985 }
                    ]
                }
            },
            methods: {
                GetDiv(samochod) {
                    return `${samochod.model} - ${samochod.typ} - ${samochod.rok}`;
                },
                Old(samochod) {
                    return samochod.rok < 2000 ? "stare" : "nowe"
                },
                img(samochod) {
                    return `car-${samochod.id}.jpg`
                }
            },
        }).mount("#app")
    </script>
</body>

</html>