<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .red {
            background-color: red;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }

        .blue {
            background-color: blue;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div :class="bober">
            {{ wartosc }}
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    wartosc: 0,
                    intervalId: false,
                }
            },
            computed: {
                bober() {
                    if (this.wartosc % 2) {
                        return "blue"
                    }
                    else {
                        return "red"
                    }
                }
            },
            methods: {
                start() {
                    if (!this.intervalId) {
                        this.intervalId = setInterval(() => {
                            this.wartosc++;
                        }, 2000);
                    }
                },
                stop() {
                    clearInterval(this.intervalId);
                    this.intervalId = false;
                }
            }
        }).mount("#app");
    </script>
</body>

</html>